* {
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.green {
  background: #00996b !important;
  color: #fff !important;
  font-weight: 500 !important;
}
.green :hover {
  background: #00685c !important;
}

.MuiLinearProgress-barColorPrimary {
  background-color: #04796a !important;
}
.MuiLinearProgress-colorPrimary {
  background-color: #04796a29 !important;
}
.MuiSnackbarContent-root {
  background-color: white !important;
  color: black !important;
}
